:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "NotoSansKR-Thin";
    src: url(fonts/NotoSansKR-Thin.otf);
}

body {
    margin: 0px;
    background-color: black;
    background-image: url('static/images/background1.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Roboto-Thin";
    overflow: hidden;
}


#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


#raon-box {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 133px;
    z-index: 100;
}

#accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 160px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
    letter-spacing: 2px;
    z-index: 100;
}

#grid-container {
    display: grid;
    margin: auto;
    position: relative;
    top: 80px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 300px;
    gap: 20px 20px;
    width: 1280px;
    height: 860px;
    /* border-style: dotted;
    border-color: red; */
    justify-content: center;
    align-content: center;
}

.grid-item {
    position: relative;
    /* background-color: rgba(50, 50, 50, 0.3); */
    z-index: -2;
    /* border-style: dotted;
    border-color: red; */
    color: white;
}



.doughnutContain {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

.doughnutChartTitle {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: Roboto-Thin;
    line-height: 0.0;
    /* background-color: tomato; */
}

.doughnutChartText {
    position: absolute;
    width: 100%;
    top: 130px;
    color: white;
    font-size: 42px;
    text-align: center;
}

.doughnutChartTextUnder {
    position: absolute;
    width: 100%;
    top: 180px;
    color: gray;
    font-size: 26px;
    text-align: center;
}

.doughnutChart {
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 585;
    stroke-dashoffset: 585;
    transform: translate(7px, 7px);
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
}

.liveChartContain {
    width:400px; 
    height:200px;
    position: absolute;
    bottom: 0px;
    top: 300px;
}

.networkChartContain {
    width:820px; 
    height:300px;
}