:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "NotoSansKR-Thin";
    src: url(fonts/NotoSansKR-Thin.otf);
}

body {
    margin: 0px;
    background-color: black;
    background-image: url('images/shadowbg.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Roboto-Thin";
    overflow: hidden;
}


#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


#raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 133px;
    z-index: 100;
}

#accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
    letter-spacing: 2px;
    z-index: 100;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 280px);
    grid-template-rows: repeat(3, 280px);
    gap: 20px 20px;
    width: 1800px;
    height: 930px;
    /* background-color: wheat; */
}

.grid-item {
    position: relative;
    margin: 10px;
    /* background-color: rgba(50, 50, 50, 0.3); */
    z-index: -2;
}

.grid-1x1 {
    width: 280px;
    height: 280px;
}

.title {
    color: blue;
    font-size: 30px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    line-height: 0.0;
    /* background-color: tomato; */
}

.doughnut-contain {
    position: relative;
    width: 174px;
    height: 174px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

.doughnutChartText {
    position: absolute;
    width: 100%;
    top: 120px;
    color: blue;
    font-size: 30px;
    text-align: center;
}

.doughnutChartTextUnder {
    position: absolute;
    width: 100%;
    top: 155px;
    color: gray;
    font-size: 18px;
    text-align: center;
}

#storage-chart {
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    transform: translate(7px, 7px);
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
}