[Unit]
Description=RAON System Monitoring

[Service]
ExecStart=/usr/bin/rsmonitor
Restart=always
Group=nogroup
WorkingDirectory=/etc/rsmonitor

[Install]
WantedBy=multi-user.target