:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    margin: 0px;
    background-color: black;
    background-image: url('images/background5.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Roboto-Thin";
    overflow: hidden;
}

#time-stamp {
    position: absolute;
    width: 500px;
    height:40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

#timestamp-date {
    color: gray;
    font-family: "Roboto-Thin";
    font-size: 36px;

}

#timestamp-time {
    color: white;
    font-family: "Roboto-Light";
    font-size: 42px;

}

#raon-box {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 133px;
    z-index: 100;
}

.raonLogo {
    fill: #fff;
}

#accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 160px;
    top: 40px;
    font-family: "Roboto-Light";
    letter-spacing: 2px;
    z-index: 100;
}

.body-box {
    width: 1920px;
    height: 980px;
    margin: auto;
    /* border-style: dotted; */
    /* border-color: red; */
}

.slide-button {
    width: 40px;
    height: 980px;
    font-size: 32px;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
    /* border-style: dotted; */
    /* border-color: red; */
}

.slide-box {
    width: 1840px;
    height: 980px;
    float: left;
    /* border-style: dotted; */
    /* border-color: greenyellow; */
}

.slide-page {
    width: 1840px;
    height: 980px;
    /* border-style: dotted; */
    /* border-color: blue; */
}

.slide-page-title {
    width: 1840px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.gridContainer {
    display: grid;
    /* margin: auto; */
    /* position: relative; */
    /* top: 80px; */
    grid-template-columns: 900px 900px;
    grid-template-rows: 266px 266px 266px;
    gap: 40px 40px;
    width: 1840px;
    height: 878px;
    /* border-style: dotted; */
    /* border-color: yellow; */
    /* justify-content: center; */
    /* align-content: center; */
}

.gridItem {
    position: relative;
    background-color: rgba(26 26, 26, 0.3);
    z-index: -2;
    /* border-style: dotted;
    border-color: red; */
    color: white;
    /* opacity: 0; */
    /* animation: animatefadeIn 1s linear forwards; */
}

.gridItemTitle {
    position:absolute;
    width: 194px;
    left: 40px;
    top: 10px;
    color: gray;
    font-size: 32px;
    text-align: center;
    font-family: Roboto-Thin;
    /* line-height: 0.0; */
    /* background-color: tomato; */

}

.doughnutContain {
    position: absolute;
    left: 40px;
    top: 60px;
    width: 194px;
    height: 194px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

.doughnutChartText {
    position: absolute;
    width: 194px;
    left: 40px;
    top: 138px;
    color: white;
    font-size: 32px;
    text-align: center;
    /* border-style: dotted;
    border-color: red; */
}

.networkValueContain {
    display: flex;
    margin: 10px;
    justify-content: right;
    align-items: center;
}

.networkValue {
    color: white;
    font-size: 32px;
    text-align: left;
}

.cpuDoughnutChart,
.memoryDoughnutChart,
.diskDoughnutChart {
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(7px, 7px);
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
}

.cpuDoughnutChart {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
}

.memoryDoughnutChart {
    stroke-dasharray: 446;
    stroke-dashoffset: 446;
}

.diskDoughnutChart {
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
}

.liveChartContain {
    position: absolute;
    left: 280px;
    top: 40px;
    width:600px; 
    height:220px;
    /* border-style: dotted;
    border-color: red; */
}

@keyframes animatefadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}
